{% extends "layouts/main.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Contrast Checker With Alpha Support</h1>
  <div class="app-grid">
    <div class="app-grid-column">
      <form>
        {{ govukInput({
          formGroup: {
            classes: "govuk-!-margin-bottom-9"
          },
          classes: "govuk-input--width-5",
          label: {
            text: "Text colour",
            classes: "govuk-!-font-weight-bold"
          },
          id: "textColour",
          name: "textColour",
          value: input.textColour,
          attributes: {
            autocomplete: "off",
            autocorrect: "off",
            spellcheck: "off"
          }
        }) }}

        {{ govukInput({
          classes: "govuk-input--width-5",
          label: {
            text: "Object colour",
            classes: "govuk-!-font-weight-bold"
          },
          id: "objectBackground",
          name: "objectBackground",
          value: input.objectBackground,
          attributes: {
            autocomplete: "off",
            autocorrect: "off",
            spellcheck: "off"
          }
        }) }}

        {{ govukInput({
          classes: "govuk-input--width-2",
          label: {
            text: "Alpha Channel Percentage"
          },
          id: "alphaChannel",
          name: "alphaChannel",
          value: input.alphaChannel,
          attributes: {
            autocomplete: "off",
            autocorrect: "off",
            spellcheck: "off"
          }
        }) }}

        {{ govukInput({
          classes: "govuk-input--width-5",
          formGroup: {
            classes: "govuk-!-margin-bottom-9"
          },
          label: {
            text: "Alpha composed Colour"
          },
          hint: {
            text: "The colour resulting from the blend of object colour + page colour"
          },
          id: "appliedAlpha",
          name: "appliedAlpha",
          value: input.appliedAlpha,
          attributes: {
            autocomplete: "off",
            autocorrect: "off",
            spellcheck: "off",
            disabled: "on"
          }
        }) }}

        {{ govukInput({
          classes: "govuk-input--width-5",
          label: {
            text: "Page colour (background)",
            classes: "govuk-!-font-weight-bold"
          },
          id: "pageBackground",
          name: "pageBackground",
          value: input.pageBackground,
          attributes: {
            autocomplete: "off",
            autocorrect: "off",
            spellcheck: "off"
          }
        }) }}

        {{ govukButton({
          text: "Reset",
          type: "reset"
        }) }}

        {{ govukButton({
          text: "Update"
        }) }}
      </form>
    </div>

    <div class="app-grid-column">
      <h2 class="govuk-heading-s">Text + Object + Page Colours:</h2>
      <div class="app-input-page">
        <div class="app-input-object">
          Text
        </div>
      </div>

      <h2 class="govuk-heading-s">Text + Alpha Composed Colours:</h2>
      <div class="app-input-page">
        <div class="app-input-object-alpha">
          Text
        </div>
      </div>
    </div>

    <div class="app-grid-column" aria-live="polite">

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Text contrast with object colour</h2>
      <p class="govuk-heading-xl govuk-!-margin-bottom-0">
        <span data-app-text-contrast-with-object-contrast-ratio>
          {{- textContrastWithObject.contrastRatio -}}
        </span>:1
      </p>

      <div class="govuk-body govuk-!-margin-top-3">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Normal text</p>
        <ul class="govuk-list govuk-!-margin-top-0">
          <li>WCAG AA: 
            <span style="color: var(--app-text-contrast-with-object-normal-aa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-object-normal-aa>
        {{ textContrastWithObject.normalAA.title }}
            </span>
          </li>

          <li>WCAG AAA: 
            <span style="color: var(--app-text-contrast-with-object-normal-aaa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-object-normal-aaa>
              {{ textContrastWithObject.normalAAA.title }}
            </span>
          </li>
        </ul>
      </div>

      <div class="govuk-body govuk-!-margin-top-3">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Large text</p>
        <ul class="govuk-list govuk-!-margin-top-0">
          <li>WCAG AA: 
            <span style="color: var(--app-text-contrast-with-object-large-aa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-object-large-aa>
          {{ textContrastWithObject.largeAA.title }}
            </span>
          </li>
          <li>WCAG AAA: 
            <span style="color: var(--app-text-contrast-with-object-large-aaa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-object-large-aaa>
              {{ textContrastWithObject.largeAAA.title }}
            </span>
          </li>
        </ul>
      </div>

      <ul class="govuk-list govuk-!-margin-bottom-5 govuk-body-s">
        <li>
          <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/#contrast-minimum" target="_blank" rel="noopener noreferrer">
          1.4.3: Contrast (Minimum)
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/#contrast-enhanced" target="_blank" rel="noopener noreferrer">
          1.4.6: Contrast (Enhanced)
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Object contrast with page (background) colour</h2>
      <p class="govuk-heading-xl govuk-!-margin-bottom-0">
        <span data-app-object-contrast-with-page-contrast-ratio>
          {{- objectContrastWithPage.contrastRatio -}}
        </span>:1
      </p>

      <div class="govuk-body govuk-!-margin-top-3">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Graphical Objects</p>
        <ul class="govuk-list govuk-!-margin-top-0">
          <li>WCAG AA: 
            <span style="color: var(--app-object-contrast-with-page-color);
          text-transform: uppercase; font-weight: 700" data-app-object-contrast-with-page-object-aa >
          {{ objectContrastWithPage.objectAA.title }}
            </span>
          </li>
        </ul>
      </div>

      <p class="govuk-!-margin-bottom-9 govuk-body-s">
        <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/#non-text-contrast" target="_blank" rel="noopener noreferrer">
          1.4.11: Non-text Contrast
        </a>
      </p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Text contrast with alpha composed background colour</h2>
      <p class="govuk-heading-xl govuk-!-margin-bottom-0">
        <span data-app-text-contrast-with-alpha-background-contrast-ratio>
          {{- textContrastWithAlphaBackground.contrastRatio -}}
        </span>:1
      </p>
      
      <div class="govuk-body govuk-!-margin-top-3">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Normal text</p>
        <ul class="govuk-list govuk-!-margin-top-0">
          <li>WCAG AA: 
            <span style="color: var(--app-text-contrast-with-alpha-background-normal-aa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-alpha-background-normal-aa>
              {{ textContrastWithAlphaBackground.normalAA.title }}
            </span>
          </li>

          <li>WCAG AAA: 
            <span style="color: var(--app-text-contrast-with-alpha-background-normal-aaa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-alpha-background-normal-aaa>
              {{ textContrastWithAlphaBackground.normalAAA.title }}
            </span>
          </li>
        </ul>
      </div>

      <div class="govuk-body govuk-!-margin-top-3">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Large text</p>
        <ul class="govuk-list govuk-!-margin-top-0">
          <li>WCAG AA: 
            <span style="color: var(--app-text-contrast-with-alpha-background-large-aa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-alpha-background-large-aa>
          {{ textContrastWithAlphaBackground.largeAA.title }}
            </span>
          </li>

          <li>WCAG AAA: 
            <span style="color: var(--app-text-contrast-with-alpha-background-large-aaa-color);
          text-transform: uppercase; font-weight: 700" data-app-text-contrast-with-alpha-background-large-aaa>
              {{ textContrastWithAlphaBackground.largeAAA.title }}
            </span>
          </li>
        </ul>
      </div>

      <ul class="govuk-list govuk-!-margin-bottom-9 govuk-body-s">
        <li>
          <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/#contrast-minimum" target="_blank" rel="noopener noreferrer">
          1.4.3: Contrast (Minimum)
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/#contrast-enhanced" target="_blank" rel="noopener noreferrer">
          1.4.6: Contrast (Enhanced)
          </a>
        </li>
      </ul>

    </div>

  </div>
{% endblock %}